.rules-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: var(--white);
    color: var(--gray);
}

.rules-page .title{
    font-size: 2em;
    font-weight: 700;
    position:absolute;
    top: 60px;
}

.rules-page .close img{
    cursor: pointer;
    padding: 5px;
    border: 1px solid var(--gray);
    border-radius: 50%;

}

.rules-page .close img:hover{
    opacity: 0.6;    
}

