.App{
  height: 100vh;
  background: linear-gradient(var(--background-from), var(--background-to));
}
.btn-rules{
  position:absolute;
  bottom: 80px;
  text-align: center;
  width: 100%;
}
.btn-rules > span{
  color: var(--white);
  padding: 10px 50px;
  border: 2px solid var(--white);
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
